.content {
    display:block;    
    position:relative;
    background-color:white;
    text-align:justify;
    margin: 10px;
    padding: 10px;
    width: 1000px;
    height: 500px;
    border: 3px solid teal;
    

}

.head {
    font-size: 30px;
}
.mainText {
    padding-top: 20px;
    width: 800px;
    font-size: 20px;

}
button, .options {
    background-color: lightblue;
    margin: 5px;
    padding: 2px;
    height: 30px;
    width: 100px;
}

.options {
    text-align: center;
    width: 300px;
    background-color: lightseagreen;
    color: white;
    border-radius: 20px;
}

.scores {
    text-align: center;
    width: 300px;
    background-color: lightgray;
    color: white;
    
}
.options:hover {
    background-color: lightsteelblue;
}
#message {
    position:relative;
    text-align: center;
    font-size: 50px;
    top: -100px;
    right: -80px;
}
.counter {
    position:relative;
    font-size: 50px;
    top: -350px;
    right: -800px;    
}

#redcounter {
    position:relative;
    font-size: 50px;
    top: -350px;
    right: -800px;
    color: red;    
}