.content {
    display:block;
    position:relative;
    text-align:center;
    background-color:white;
    margin:20%;
    

}

button, .options {
    background-color: lightblue;
    margin: 5px;
    padding: 2px;
    height: 30px;
    width: 100px;

}

.options {
    background-color: lightgreen;
}
